<div class="row m-0 p-o">
  <div class="col-5 row m-0 p-0 mt-auto">
    <div class="col-6 p-0 ">
      <label class="mb-0 float-right">Completed</label>
    </div>
    <div class="col-6 p-0">
      <app-gauge1></app-gauge1>
    </div>
  </div>
  <div class="col-2 text-center p-0">
    <div class="p-0">
      <label class="mb-0 mx-auto"> progress</label>
    </div>
    <div class="p-0 mx-auto">
      <app-gauge2></app-gauge2>
    </div>

  </div>
  <div class="col-5 row m-0 p-0 mt-auto">
    <div class="col-6 p-0">
      <app-gauge3></app-gauge3>
    </div>
    <div class="col-6 p-0">
      <label class="mb-0">Yet to Start</label>

    </div>
  </div>
</div>